<section id="add">
	<form action="/" method="post">
		<textarea name="program_number" placeholder="Program number"></textarea>
		<textarea name="sub_programs" placeholder="Sub programs"></textarea>
		<textarea name="content" placeholder="Program description"></textarea>
		<input type="submit" value="Save">
	</form>
</section>

<% @notes.each do |note| %>
	<article <%= 'class = "complete"' if note.complete %>>
		<p>
			<h2><%=escape_html note.program_number %></h2>
		</p>
		<p>
			<%=escape_html note.sub_programs %>
		</p>
		<p>
			<%=escape_html note.content %>
			<span><a href="/<%= note.id %>">[edit]</a></span>
		</p>
		<p class="links">
			<a href="/<%= note.id %>/complete">&#8623;</a>
		</p>
		<p class="meta">Created: <%= note.created_at %></p>
		<% if note.created_at != note.updated_at %>
			<p class="meta">Edited: <%= note.updated_at %></p>
		<% end %>
	</article>
<% end %>