<!doctype html>
<html lang="en">
<head>
	<meta charset="utf8">
	<title><%= @title + ' | EIA DB' %></title>
	<link href="/reset.css" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">
</head>
<body>
	<header>
		<hgroup>
			<h1><a href="/">EIA DB</a><h1>
			<h2>.eia program and metadata database</h2>
		</hgroup>
	</header>
	
	<div id="main">
		<% if flash[:notice] %>
			<p class="notice"><%= flash[:notice] %>
		<% end %>
		<% if flash[:error] %>
			<p class="error"><%= flash[:error] %>
		<% end %>
		<%= yield %>
	</div>
	
	<footer>
		<p><small>July 2013</small></p>
	</footer>
</body>
</html>