<% if @program %>
<section id="add">
	<p>Do you want to delete program <%= @program.program_number %>?</p>
	<form action="/<%= @program.program_number %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="DELETE">
		<a href="/<%= @program.program_number %>">cancel</a>
	</form>
	</section>
<% else %>
	<p>program not found</p>
<% end %>