<% if @program %>
	<h1><%= @program.program_number %></h1>
	<p class="meta">Created: <%= @program.created_at.strftime("%H:%M:%S on %B %d %Y") %></p>
	<% if @program.created_at != @program.updated_at %>
		<p class="meta">Edited: <%= @program.updated_at.strftime("%H:%M:%S on %B %d %Y") %></p>
	<% end %>
	<p>tags:
	<% @program.tags.each do |tag| %>
		<a href="/tag/<%= tag.ctag %>"><%= tag.ctag %></a>
	<% end %>
	</p>
	<p>sub programs</p>
	<article>
	<% @program.sub_programs.each do |sub| %>
			<a href="/<%=sub.program_number%>"><%=sub.program_number%></a>
	<%end%>
	</article>
	<p>programs that call this as a subprogram</p>
	<article>
	<% @program.sup_programs.each do |sup| %>
			<a href="/<%= sup.program_number%>"><%= sup.program_number%></a>
	<% end %>
	</article>
	<form action="/<%= @program.program_number %>" method="post">
		<input type="hidden" name="_method" value="put">
		<div id="home">
		<textarea name="name" <%=if @program.name == "" then "placeholder=\"program name\"" end %>><%= escape_html @program.name %></textarea>
		</div>
		<div id="desc">
		<textarea name="comment" <%=if @program.comment == "" then "placeholder=\"comments\"" end %>><%= escape_html @program.comment %></textarea>
		</div>
		<div id="edit">
		<textarea name="eia_code" <%=if @program.eia_code == "" then "placeholder=\"eia code (optional)\"" end %>><%= escape_html @program.eia_code %></textarea>
		<input type="submit" value="save">
		</div>
	</form>
	
<p><a href="/">cancel</a></p>
	<p><a href="/<%= @program.program_number %>/sub" method="get">add/remove subprograms</a></p>
	<p><a href="/<%= @program.program_number %>/tag" method="get">add/remove tags</a></p>
	<p><a href="/<%= @program.program_number %>/delete">delete program</a></p>
<% else %>
	<p>program not found in database</p>
<% end %>