<section id="add">
	<a href="/new">new program</a>
</section>
tags
<article>
<% @tags.each do |tag| %>
	<a href="/tag/<%= tag.ctag %>"><%= tag.ctag %></a>
<%end%>
</article>
programs
<% @programs.each do |program| %>
	<article>
		<p>
			<a href = "/<%=escape_html program.program_number %>"><%=escape_html program.program_number %></a>
		</p>
		<p>
			<%# not sure why escape_html works here. what is it calling? %>	
			<%=escape_html program.name %>
		</p>
	</article>
<% end %>