
	<form action="/new" method="post">
		<input type="hidden" name="_method" value="post">
		<div id="home">
		<textarea name="program_number" placeholder="program number"></textarea>
		<textarea name="name" placeholder="program name"></textarea>
		</div>
		<div id="desc">
		<textarea name="comment" placeholder="comments"></textarea>
		</div>
		<div id="edit">
		<textarea name="eia_code" placeholder="eia code (optional)"></textarea>
		<input type="submit" value="save">
		</div>
	</form>
	<p><a href="/">cancel</a></p>
