<section id="del">
<h1>program <%= @program.program_number %> subprograms</h1>
	<article>
	<% @program.sub_programs.each do |sub| %>
			<a href="/<%=sub.program_number%>"><%=sub.program_number%></a>
			<form action="/<%= @program.program_number %>/sub/<%= sub.program_number %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="x">
	</form>
	<%end%>
	</article>
</section>
<section id="add">
<form action="/<%= @program.program_number %>/sub" method="post">
	<input type="hidden" name="_method" value="put">
	<textarea name="sub" placeholder="add subprogram"></textarea>
	<input type="submit" value="add subprogram">
</form>
</section>
<p><a href="/<%= @program.program_number %>">done</a></p>