<section id="del">
<h1>program <%= @program.program_number %> tags</h1>
<article>
	<% @program.tags.each do |tag| %>
		<a href="/tag/<%= tag.ctag %>"><%= tag.ctag %></a>
		<form action="/<%= @program.program_number %>/tag/<%= tag.ctag %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="x">
	</form>
	<% end %>
	</article>
</section>
<section id = "add">
<form action="/<%= @program.program_number %>/tag" method="post">
	<input type="hidden" name="_method" value="put">
	<textarea name="tag" placeholder="add tag"></textarea>
	<input type="submit" value="add tag">
</form>
</section>
<p><a href="/<%= @program.program_number %>">done</a></p>