<% if @tag %>
<p>Programs tagged <a href="/tag/<%= @tag.ctag %>"><%= @tag.ctag %></a></p>
<% @tag.programs.each do |program| %>
	<article>
		<p>
			<a href = "/<%=escape_html program.program_number %>"><%=escape_html program.program_number %></a>
		</p>
		<p>
			<%# not sure why escape_html works here. what is it calling? %>	
			<%=escape_html program.name %>
		</p>
	</article>
<% end %>
<% else %>
<p>tag not found in database</p>
<% end %>